<a href="https://colab.research.google.com/github/clairemaina/Autolib_Week-4_IP_DSP11/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2021_08_Claire_Maina_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#**Task Description**

To process stations data to understand electric car usage over time by solving for the following research question;

**Research Question**

* Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

* What is the most popular hour for returning cars?
*   What station is the most popular?
        a.   Overall?
        b.   At the most popular picking hour?
* What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?
        a.   Overall?
        b.   At the most popular picking hour?
* Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

# 1.0 Importing our Libraries

In [ ]:
#import the pandas 
import pandas as pd

#import numpy libraries
import numpy as np

# 1.1 Reading the dataset from our csv file

The dataset we will use contains data collected for a period of 9 days

In [ ]:
# Create a dataframe from the csv file

autolib_df = pd.read_csv('/content/Autolib_dataset.csv')
autolib_df.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

# 1.2 Previewing our dataset

In [ ]:
# get the info of the datafram
autolib_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   address             5000 non-null   object
 1   cars                5000 non-null   int64
 2   bluecar_counter     5000 non-null   int64
 3   utilib_counter      5000 non-null   int64
 4   utilib_1.4_counter  5000 non-null   int64
 5   city                5000 non-null   object
 6   id                  5000 non-null   object
 7   kind                5000 non-null   object
 8   postal_code         5000 non-null   int64
 9   slots               5000 non-null   int64
 10  station_type        5000 non-null   object
 11  year                5000 non-null   int64
 12  month               5000 non-null   int64
 13  day                 5000 non-null   int64
 14  hour                5000 non-null   int64
 15  minute              5000 non-null   int64
 16  cars_sum            5000 non-null   int64
dtypes: int64(12), object(5)
memory usage: 664.2+ KB

# 1.3 Cleaning the dataset

## 1.3.1 Validity

In [ ]:
# Irrelevant data - drop columns we won't be using

new_autolib_df=autolib_df.drop(["Charge Slots","Charging Status","Displayed comment","Geo point","Public name","Rental status","Scheduled at","Status","Subscription status"], axis = 1, inplace = True)

#display the dataframe with the dropped columns
autolib_df.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour minute
0                 2 Avenue de Suffren     0                0  ...    8    11     43
1           145 Rue Raymond Losserand     6                6  ...    6     7     24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20     14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4     37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17     23

[5 rows x 16 columns]

In [ ]:
# Change the column names to lowercase
autolib_df.columns = autolib_df.columns.str.lower()
autolib_df.head(5)

                              address  cars  bluecar counter  ...  day  hour minute
0                 2 Avenue de Suffren     0                0  ...    8    11     43
1           145 Rue Raymond Losserand     6                6  ...    6     7     24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20     14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4     37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17     23

[5 rows x 16 columns]

In [ ]:
# Replace spaces with _ in the column names

# autolib_df.columns=autolib_df.columns.str.replace(" ","_",regex=True)
# autolib_df.head(5)

def change(new):
  autolib_df.columns=autolib_df.columns.str.replace(" ","_",regex=True)
  return autolib_df.head(5)

change(autolib_df)

                              address  cars  bluecar_counter  ...  day  hour minute
0                 2 Avenue de Suffren     0                0  ...    8    11     43
1           145 Rue Raymond Losserand     6                6  ...    6     7     24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20     14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4     37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17     23

[5 rows x 16 columns]

## 1.3.2 Accuracy

In [ ]:
# In-record and cross datasets errors
# We have 3 type of cars: bluecar, utilib and the utilib 1.4. 
# Create a new column with the sum of the 3 car models

# Define a function that takes in three values and returns the three values added together
def all_cars(val_1, val_2, val_3):
    return val_1 + val_2 + val_3

# Create a third column called cars_sum then apply a function that we defined above using python lambda.
autolib_df['cars_sum'] = autolib_df.apply(lambda row: all_cars(row['bluecar_counter'], row['utilib_counter'], row['utilib_1.4_counter']), axis=1)
autolib_df.head(5)

                              address  cars  ...  minute  cars_sum
0                 2 Avenue de Suffren     0  ...      43         0
1           145 Rue Raymond Losserand     6  ...      24         6
2    2 Avenue John Fitzgerald Kennedy     3  ...      14         5
3              51 Rue EugÃ¨ne OudinÃ©     3  ...      37         4
4  6 avenue de la Porte de Champerret     3  ...      23         3

[5 rows x 17 columns]

## 1.3.3 Completeness

In [ ]:
# Check if there are any missing values in each column

autolib_df.isnull().any()

address               False
cars                  False
bluecar_counter       False
utilib_counter        False
utilib_1.4_counter    False
city                  False
id                    False
kind                  False
postal_code           False
slots                 False
station_type          False
year                  False
month                 False
day                   False
hour                  False
minute                False
cars_sum              False
dtype: bool

## 1.3.4 Consistency

In [ ]:
# Check for duplicates
duplicates = autolib_df[autolib_df.duplicated()]

# display the dataframe to show the duplicates. Result shows none
duplicates

Empty DataFrame
Columns: [address, cars, bluecar_counter, utilib_counter, utilib_1.4_counter, city, id, kind, postal_code, slots, station_type, year, month, day, hour, minute, cars_sum]
Index: []

# 1.4 Research Questions

In [ ]:
# Question 1 - Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

pop_hour=autolib_df[(autolib_df['city'] == 'Paris') & (autolib_df['year'] == 2018) & (autolib_df['month'] == 4)]
pop_hour

popular_hour= pop_hour.groupby(['hour'])['bluecar_counter'].sum()

popular_hour[[popular_hour.idxmax()]]

hour
21    268
Name: bluecar_counter, dtype: int64

In [ ]:
# Question 2 : What is the most popular hour for returning cars?

car_returns = autolib_df[(autolib_df['slots'] == 0)].groupby(['hour','slots'])['cars_sum'].sum()
car_returns
car_returns[[car_returns.idxmax()]]

hour  slots
6     0        342
Name: cars_sum, dtype: int64

In [ ]:
# Question 3 : What station is the most popular?
# Question 3 (a) - Overall

popular_1= autolib_df[(autolib_df['kind'] == 'STATION')].groupby(['id'])['cars_sum'].sum()
popular_1

popular_1[[popular_1.idxmax()]]

id
fontenayauxroses-robertmarchand-32    50
Name: cars_sum, dtype: int64

In [ ]:
# Question 3 (b) - What station is the most popular at the most popular picking hour? 
# The most popular hour was hour 6

popular_HR_a= autolib_df[(autolib_df['kind'] == 'STATION') & (autolib_df['hour'] == 6)].groupby(['id','hour'])['cars_sum'].sum()
popular_HR_a[[popular_HR_a.idxmax()]]

id                              hour
clichylagarenne-jeanjaures-122  6       11
Name: cars_sum, dtype: int64

In [ ]:
# Question 4 : What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?
# Question 4 (a) - Overall

postal = autolib_df[(autolib_df['bluecar_counter'] > 0)].groupby(['postal_code'])['bluecar_counter'].max()

postal[[postal.idxmax()]]

# Does the most popular station belong to that postal code? No - 75015 is the most popular station

postal_code
75011    7
Name: bluecar_counter, dtype: int64

In [ ]:
 # Question 4 (b) - What postal code is the most popular for picking up Blue cars at the most popular picking hour?

pop_blue= autolib_df[(autolib_df['bluecar_counter'] > 0) & (autolib_df['hour'] == 6)].groupby(['postal_code','hour'])['bluecar_counter'].max()
pop_blue[[pop_blue.idxmax()]]

postal_code  hour
91330        6       7
Name: bluecar_counter, dtype: int64

In [ ]:
# Question 5 - Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?
# Utilib comparison
# What postal code is the most popular for picking up Utilib at the most popular picking hour?
utilib= autolib_df[(autolib_df['utilib_counter'] > 0) & (autolib_df['hour'] == 6)].groupby(['postal_code','hour'])['utilib_counter'].max()
utilib[[utilib.idxmax()]]

postal_code  hour
75015        6       2
Name: utilib_counter, dtype: int64

In [ ]:
# Question 5 - Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?
# Utilib 1.4 comparison
# What postal code is the most popular for picking up Utilib 1.4 at the most popular picking hour?
#
utilib_p4= autolib_df[(autolib_df['utilib_1.4_counter'] > 0) & (autolib_df['hour'] == 6)].groupby(['postal_code','hour'])['utilib_1.4_counter'].max()
utilib_p4[[utilib_p4.idxmax()]]

postal_code  hour
75008        6       2
Name: utilib_1.4_counter, dtype: int64

The results do change when you consider the Utilib and the Utilib 1.4 over the blue cars.